*~
*.o
*.pyc
*.pyo
*.wpu
*.wpr
*.swp
*.swap
*.tmp
*.temp
.DS_Store
pip-log.txt
screenlog.*
.bash_history
.bash_logout
.bash_profile
.bashrc
.emacs
.hgrc
.lesshst
.pythonhist
.psql_history
.mysql_history
.viminfo
.ipython/
.pip/
.ssh/
build/
include/
lib/
lib64/
lib64
man/
media/
mylib/
secret/
share/
tmp/
temp/
wsgi/
.Python
.coverage
performance/results/*
*.egg-info
dist
